footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-item {
  width: 30%;
  text-align: center;
}

.footer-item h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
}

.footer-item p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #999;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #ddd;
}

.copyright {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}
