header {
  background-color: #333;
  color: #fff;
  padding: 2px;
}

.navbar {
  direction: rtl;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-brand {
  font-size: 18px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #faf7f7;
}

.navbar a i {
  margin-right: 5px;
}

.navbar li {
  margin-left: 20px;
}
.language-switcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-size: 16px;
}

.language-switcher label {
  margin-right: 0px;
}

.language-switcher select {
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: #333;
}
